@import url('https://fonts.googleapis.com/css?family=Kurale');

body {

	font-family:kurale;
	color:black;
	
	background: #4d8cf2;

}

h2, h3 {
	font-family:roboto;
}


body {
	

}


body {
}




