
body{
	background-color: blue;
	text-align: center;
}





h1 {
	color:  #ff4400;
}

ul {
	color:  green;
	font-size: 28px;
	background-color: white;
}


#första {
	color:white;
}

.gulbakgrund {
	background-color: yellow;
}




